<%- include('partials/header') %>

<div class="container">
  <div class="column-1-4">
    <div class="vertical-line">
      <h1 id="quantity">Quantity</h1>
      <input type="number" id="quantity-input" placeholder="Type here" />
    </div>
    <div class="obj-1-4"><h1 class="title">OBJ1</h1></div>
  </div>
  <div class="column-3-4">
    <div id="items-container"></div> 
    <div class="obj-3-4"><h1 class="title">OBJ3</h1></div>
  </div>
</div>

<%- include('partials/footer') %>
